
{{ define "yield"}}

<div class="container text-center">
	<h1>
		About
	</h1>

	<p>
		A simple web app where users can create photo galleries and upload their favorite photos.
	</p>
</div>

{{template "footer"}}

{{end}}