
{{ define "yield"}}
<div class="container text-center">
	<h1>
		Contact Us
	</h1>

	<p>If you wish to get in contact, please email me at 
		<a href="mailto:stephenpnkv@gmail.com">stephenpnkv@gmail.com</a>
	</p>
</div>

{{template "footer"}}

{{end}}